<a href="https://colab.research.google.com/github/jhozzed/4100E226-Qiao-Si/blob/Introduction-to-Information-Technology/python102021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Summation**

In [ ]:
def sum(a1, a2, a3):
    result = 0
    for a in range(a1, a2, a3):
        result += a
    return result

def main():
    print("Sum1", sum(17, 27, 2)) 
    print("Sum2", sum(70, 100, 3))
    print("Sum3", sum(6, 69, 5))

main() # Call the main function

Sum1 105
Sum2 835
Sum3 468

In [ ]:
17+19+21+23+25

105

In [ ]:
70+73+76+79+82+85+88+91+94+97

835

In [ ]:
6+11+16+21+26+31+36+41+46+51+56+61+66

468

# **Swap**

In [ ]:
def swap(c,d):
  c,d = d,c
  return (c,d)

if __name__ == '__main__':
    c = 17
    d = 13
    print('c = %d,d = %d' % (c,d))
    c,d = swap(c,d)
    print('c = %d,d = %d' % (c,d))

c = 17,d = 13
c = 13,d = 17

# **From Small to Large**

In [ ]:
def sort(numberA, numberB, numberC):
    if numberA < numberB < numberC:
        return numberA, numberB, numberC
    else:
        return numberC, numberB, numberA

numA, numB, numC = sort(7, 13, 17)

print("num1 is", numA)
print("num2 is", numB)
print("num3 is", numC)

num1 is 7
num2 is 13
num3 is 17

# **From Large to Small**

In [ ]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 

num1, num2, num3  = sort(17,13,9)

print("num1 is", num1)
print("num2 is", num2)
print("num2 is", num3)

num1 is 9
num2 is 13
num2 is 17

# **Area**

In [ ]:
def printArea(width = 13.9, height = 28.78):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

In [ ]:
13.9*28.78

400.04200000000003

# **use default arguments**

In [ ]:
printArea()

width: 13.9 	height: 28.78 	area: 400.04200000000003

# **use Keyboard arguments**

In [ ]:
printArea(width = 50, height = 20)

width: 50 	height: 20 	area: 1000

In [ ]:
printArea(height = 20, width = 50)

width: 50 	height: 20 	area: 1000

# **use Positional arguments**

In [ ]:
printArea(15,25)

width: 15 	height: 25 	area: 375

In [ ]:
printArea(25,15)

width: 25 	height: 15 	area: 375

# **Lambda**

In [ ]:
f4 = lambda a, b, c: a+3*b+4*c
print(f4(5,6,7))

51

# **Power of Lambda**

In [ ]:
def myfunc(a):
    return a*a

my_list = [2, 4, 6, -8, -10]

print(list(map(lambda x:myfunc(x), my_list)))

[4, 16, 36, 64, 100]